* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
p,
ul,
li {
  margin-top: 0;
}

img {
  max-width: 100%;
}

/* colors */
.dimgrey {
  background-color: #233135; /* (section background) */
}

.darkgrey {
  background-color: #26282b; /* (section background) */
}

.pink {
  color: #e65f78;
}

.white {
  color: white;
}

.lightgrey {
  color: #a0a0ac; /* (text) */
}

/* colors */

/* wraper */

.wraper {
  width: 80%;
  margin: 0 auto;
}
.wrap {
  width: 33.333%;
  margin-left: auto;
  margin-right: auto;
}

/* wraper */

/* inner */

.inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* inner */

/* btn */

.btn {
  text-transform: uppercase;
  border: 2px solid white;
  padding: 10px 23px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* btn */

/* span */

span {
  color: #e65f78;
}

/* span */

/* dont forget margin bot 0 */

.margin-bot {
  margin-bottom: 0;
}
.d-flex {
  display: flex;
}
.about-me {
  flex-basis: 50%;
  padding-left: 10px;
}
.center {
  justify-content: center;
  align-items: center;
}
.img-about {
  flex-basis: 50%;
  padding-right: 10px;
}
.img-about img {
  border: 5px solid #a0a0ac;
}
.about {
  background-color: #233135;
  padding-top: 100px;
  padding-bottom: 100px;
}
.paragraphs a {
  display: inline-block;
  border: 1px solid lightgrey;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.paragraphs a:not(:last-child) {
  margin-right: 10px;
}
.icons-about-me a:hover {
  border-color: #e65f78;
  color: #e65f78;
  transition: 200ms;
}

@media (max-width: 768px) {
  .img-about {
    flex-basis: 100%;
  }
  .about-me-inner {
    flex-direction: column;
    flex-basis: 90%;
  }
  .about-me {
    flex-basis: 100%;
  }
}
/* dont forget margin bot 0 */

/* footer */
footer {
  padding: 50px 0;
  text-align: center;
}
footer p {
  font-size: 12px;
  margin-top: 20px;
}
footer a {
  color: #a0a0ac;
}
footer a i {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 50%;
  background-color: #51565d;
}
footer a:not(:last-child) {
  margin-right: 20px;
}
/* menu and banner section */
.section-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(./images/header-bg.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.father {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  width: 30%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li:not(:first-child) {
  margin-left: 18px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.active:hover {
  color: #e65f78;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.banner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  color: #a0a0ac;
}

h1 {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
}

.welcome {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.m-b {
  margin-bottom: 21px;
}

i {
  bottom: 20px;
  right: 20px;
  background-color: #e65f78;
  padding: 10px;
  border-radius: 7px;
  color: white;
  position: fixed;
}

/* blog section */

.uppercase {
  text-transform: uppercase;
}
.text-size {
  font-size: 12px;
  line-height: 20px;
}
.center {
  text-align: center;
}
.cards {
  padding: 10px;
  border: 1px solid #233135;
  border-radius: 5px;
}
.card-section {
  display: flex;
}
.text-decoration {
  text-decoration: none;
  font-weight: bold;
}
.card-padding {
  padding: 20px;
}
h4 {
  font-size: 14px;
}
.border-radius {
  border-radius: 5px;
}
